.no-print, .no-print * {
    display: none !important;
}

.content-wrapper {
    position: absolute;
    top: 0;
}

.content {
    width: 100%;
    margin: 0;
    float: none;
}

table {
    width: 80%;
    margin: 0 auto;
}

body {
    font-size: small;
}

td {
    width: 15%;
    position: relative;
}

td:after {
    content: '';
    display: block;
    margin-top: 75%;
}

td .cell-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

